<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>React Isomorphic</title>
    <link rel="stylesheet" href="/styles.css" />
    <link rel="shortcut icon" type="image/x-icon" href="/assets/favicon.ico">
</head>
<script>
    var INITIAL_STATE = <%- initialState %>;
</script>
<body>
<div id="root"><%- content %></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/84/three.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/rxjs/5.0.1/Rx.min.js"></script>
<script src="/bundle.js"></script>
</body>
</html>
